/* Genel sayfa düzeni */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Başlık stili */
h1 {
    text-align: center;
    color: #ffffff;
    background-color: #3498db;
    padding: 20px;
    margin: 0;
}

/* Calculator bölümü stili */
#calculator {
    text-align: center;
    margin-top: 20px;
}

label {
    font-size: 1.2em;
    display: block;
    margin-bottom: 5px;
}

input {
    font-size: 1em;
    padding: 10px;
    margin-bottom: 15px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

/* Sonuç stili */
#result {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}
